@model IEnumerable<Digital_Library.BL.DTO.PostDTO>
    @using Digital_Library.BL.DTO
@{
    ViewBag.Title = "Home Page";
}

@if (true)
{
    foreach (PostDTO post in Model)
    {
        <article class="main-article">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Text</p>
                    <time class="card-subtitle text-right" datetime="@post.Date">@post.Date.ToString("yyyy.MM.dd")</time>
                </div>
            </div>
        </article>
    }
}
